    .title
        h2.title__text Credits platform is almost ready. Launch in Jan 2018
        h3.title__subtext
            | Некоторые пользователи начинают внедрение платформы. Вы можете стать идним из первых пользователей.
            | Закажите консультацию службы поддержки по внедрению
