include ../blocks/head/head.jade 
body
    include ../blocks/header/header.jade  
    
    .container.container_background_introduction.container_width_100.container_paddingVertical_50
        .title
            h2.title__text Альфа версия платформы CREDITS
    
    .container.container_paddingVertical_50
        .title.title_marginBottom_30
            .title__subtext.title__subtext_textAlign_left.title__subtext_notBold
                p.title__subtext_textIndent_30 CREDITS - это публичная децентрализованная одноранговая  сеть, построенная на принципах блокчейна:<br/>
                ul.title__ul
                    li публичный реестр с приватным и публичными ключами,
                    li децентрализованные смарт-контракты,
                    li наличие внутренней криптовалюты.

                p.title__subtext_textIndent_30 Платформа CREDITS позволяет создавать аккаунты для дальнейшей работы в системе, проводить транзакции по переводу внутренней валюты CS и токенов, созданных на базе платформы.

                p.title__subtext_textIndent_30 Предоставлена возможность работы со смарт-контрактами в системе и выполнения функций предусмотренных смарт-контрактами.

                p.title__subtext_textIndent_30 Системы Monitor и Wallet позволяют проводить транзакции по переводу и просмотру состояния сети и платформы в целом через веб-версию платформы, без инсталяции полного узла.

                | В десктопное программном приложении (полном узле), помимо функций веб-версии платформы, присутствуют возможности использования смарт-контрактов, выпуска новых токенов и их первичное тестирование.
            
        .title
            .title__text_fontSize_20.title__text_textAlign_left.title__text_bold Технические характеристики alpha-version:
                .title__subtext.title__subtext_notBold
                    ul.title__ul
                        li Ожидаемая скорость выполнения транзакций 250-500 тысяч транзакций в секунду;
                        li Средняя цена за проведение транзакции составит 0,001% от транзакции, но не более 0.1 CS;
                        li Ядро платформы реализовано на языке С++
                        li Шифрованием 256, использование RSA - как способа подписи, верификации и проверки целостности транзакции;
                        li использование BFT, как способа обеспечить безопасное подтверждение или отклонение транзакции с возможностью существования в сети нелегитимного узла.
        
        .title.title_marginBottom_30
            .title__text Функционал системы
            
        .title.title_textAlign_left
            .title__text_fontSize_20.title__text_textAlign_left.title__text_bold Десктопное приложение - узел сети
            p.title__subtext_textIndent_30
                | Узел (полная нода) -  десктопное приложение (локальное приложение пользователя ПО Windows). Имеет открытый программный интерфейс приложения API. Реализован на языке C++. Это полная нода и кошелек. Обеспечивает следующий набор функций:
            ul.title__ul
                li Участие в алгоритме консенсуса;
                li Хранение публичного реестра-блокчейна со всеми транзакциями;
                li Выполнение транзакций по передачи ценности: CS и токены выпущенные на платформе CREDITS;
                li Проверка баланса аккаунта;
                li Создание аккаунта/кошелька;
                li Разработка, компилирование, deployment смарт-контракта;
                li Выпуск внутренних токенов работающих на платформе/протоколе CREDITS
                li Проведение тестирования смарт-контракта;
                li Выполнение функций/методов смарт-контракта (выполнить, сохранить, одобрить просмотреть, проверка и др.).
            
            
            title_marginBottom_30
            .title__text_fontSize_20.title__text_textAlign_left.title__text_bold Консоль
            p.title__subtext.title__subtext_notBold Консоль - программный модуль, позволяющий следить за системой (C++).
            
            .title_marginBottom_30
            .title__text_fontSize_20.title__text_textAlign_left.title__text_bold Обозреватель транзакций
            p.title__subtext.title__subtext_notBold Название сервиса - “Монитор”
            p.title__subtext.title__subtext_notBold Монитор CREDITS -  веб-версия приложения обозревателя публичного реестра платформы. Реализован на языке C#. Обеспечивает отображение текущего состояние платформы и всех транзакций сети. Показывает:
            ul.title__ul
                li Общее количество узлов сети;
                li Статистику выполнения транзакции;
                li Баланс аккаунта;
                li Перечень транзакций для аккаунта;
                li Общая информация по смарт-контракту;
                li Транзакции по смарт-контракту;
                li Отображение открытого смарт-контракта.
                
            .title.title_marginBottom_30
            .title__text_fontSize_20.title__text_textAlign_left.title__text_bold Кошелек
            p.title__subtext.title__subtext_notBold
                |Wallet -  вэб-версия кошелька. Реализован на языке JAVA + Angular4.  Клиентское приложение Java на стороне браузера пользователя. Работа осуществляется в браузере пользователя и отсутствует передача персональных данных аккаунта в сеть и сервер сайта/платформы.
                <br/>
                |Обеспечивает следующий набор функций: 
                ul.title__ul
                    li Создание кошелька с использованием файла и приватного ключа;
                    li Создание транзакции;
                    li Осуществление перевода ценностей (CS или токенов созданный на платформе);
                    li Отображение баланса для аккаунта;
                    li Отображение данных по истории транзакций происходит на стороннем веб сервисе  “Монитор”. 
                    
            .title__text_fontSize_20.title__text_textAlign_left.title__text_bold Смарт-контракты
            p.title__subtext.title__subtext_notBold
                |Смарт-контракты разрабатываются на Java в средах Eclipse, NetBeance и др. с поддержкой Java. Компиляция разработанного программного кода в десктопном приложении CREDITS. 
                <br>
                |Модуль смарт-контрактов обеспечивает:
                ul.title__ul
                    li Полноту по Тьюрингу;
                    li Цикличность работы смарт-контрактов;
                    li Выпуск токенов как вид смарт-контракта;
                    li Программный интерфейс приложения (API) для работы со  смарт-контрактами для внешних систем. Обращение внешняя система - смарт-контракт и смарт контракт - внешняя система

        
    include ../blocks/footer/footer.jade
