include ../blocks/head/head.jade 
body
    include ../blocks/header/header.jade
    
    .container.container_paddingVertical_20
        .profile-block
            .profile-block__title Ваш профиль
            
            button.button.button_margin_auto.button_block.button_marginBottom_20 редактировать информацию
            
            .profile-block__text Your Email:
            .profile-block__text.profile-block__text_paddingLeft_20 EMAIL_EXAMPLE@gmail.com
            
            .profile-block__text Your whitelist status:
            .profile-block__text.profile-block__text_paddingLeft_20.profile-block__text_tomato If your application is approved, then in 2 days you will receive a confirmation of the addition to the Whitelist.
            
            .profile-block__text Comment from Credits
            .profile-block__text.profile-block__text_paddingLeft_20 SOME COMMENT
            
            .profile-block__text Страна проживания
            .profile-block__text.profile-block__text_paddingLeft_20 Timor-Leste
            
            .profile-block__text Счет Ethereum для расчета:
            .profile-block__text.profile-block__text_paddingLeft_20 0x000000bb00000000000000000bbaa000000000
            
            .profile-block__text Ваша потенциальная сумма вклада ETH: 
            .profile-block__text.profile-block__text_paddingLeft_20 10 ETH
            
        .profile-block
        
            .profile-block__title Документы
            .profile-block__img
            
        .profile-block
            .profile-block__title Личная информация
            .profile-block__text Имя: 
            .profile-block__text.profile-block__text_paddingLeft_20 Иван
            
            .profile-block__text Фамилия: 
            .profile-block__text.profile-block__text_paddingLeft_20 Иванов
            
            
        .profile-block
            .profile-block__title Адрес
            
            .profile-block__text Область/Регион/Провинция:
            .profile-block__text.profile-block__text_paddingLeft_20 Dili district
            
            .profile-block__text Город: 
            .profile-block__text.profile-block__text_paddingLeft_20 Dili
            
            .profile-block__text Улица: 
            .profile-block__text.profile-block__text_paddingLeft_20 Rua Dos Martires da Patria
            
            .profile-block__text Номер дома:
            .profile-block__text.profile-block__text_paddingLeft_20 78
            
            .profile-block__text Почтовый индекс:
            .profile-block__text.profile-block__text_paddingLeft_20 Box 332
            
            .row.row_width_435.row_margin_auto.row_spaceAround.row_wrap.row_alignItems_end
                div.row__wrapper_marginTop_20
                    input(type="checkbox" id="accept" required)
                    label(for="accept")
                .profile-block__text.profile-block__text_margin_0 Согласен с 
                    a("href=#") правилами
                    |,
                    a("href=#") ICO Terms 
                    |и 
                    a("href=#") условиям
                .input-text__danger Check this field!
    
    include ../blocks/footer/footer.jade 
